/* basic */
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font: 16px/1.2 "Roboto", sans-serif;
	color: #333;
}
.blog {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
i {
	font-size: 20px;
}

/* container */
.container {
	height: auto;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	overflow: hidden;
}

/* switch */
.switch {
	width: 37px;
	position: relative;
}
.switch input[type="checkbox"] {
	visibility: hidden;
}
.switch input[type="checkbox"]:checked + label {
	background-color: #f3a978;
}
.switch input[type="checkbox"]:checked + label:after {
	left: 20px;
}
.switch label {
	width: 100%;
	height: 21px;
	border-radius: 50px;
	background-color: #5a6676;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.switch label:after {
	content: "";
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: white;
	position: absolute;
	top: 4px;
	left: 4px;
	transition: all 0.1s;
}

/* dashboard */
.dashboard > * {
	padding: 16px;
}

/* meter */
.meter {
	display: flex;
	flex-direction: column;
	color: white;
	text-shadow: 1px 1px 5px gray;
	background-color: #4158d0;
	background-image: linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	);
}
.meter .date {
	font-size: 14px;
	text-align: right;
}
.meter .date .time {
	margin-left: 16px;
}
.meter ul {
	margin: 24px 0;
	display: flex;
	flex-grow: 1;
}
.meter li {
	flex-grow: 1;
	width: 33.3%;
	text-align: center;
	position: relative;
    list-style-type: none;
}
.meter li i {
	position: absolute;
	top: 8px;
	left: 10px;
}
.meter li .number {
	margin-bottom: 16px;
	font-size: 36px;
	font-weight: bold;
	position: relative;
}
.meter li .number .symbol {
	position: relative;
	top: -20px;
	left: 5px;
	font-size: 12px;
}
.meter li .unit {
	text-transform: uppercase;
}

/* controls */
.controls ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}
.controls li {
	text-align: center;
}
.controls li .item {
	margin: 8px 0;
	font-weight: bold;
}
.controls li .switch {
	margin: auto;
}

